@import "tailwindcss";

@font-face {
  font-family: "PlusJakartaSans";
  src: url("/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-sans: "PlusJakartaSans", sans-serif;
  --color-lime-custom: hsl(61, 70%, 52%);
  --color-slate-900: hsl(202, 55%, 16%);
  --color-slate-700: hsl(200, 24%, 40%);
  --color-slate-500: hsl(200, 26%, 54%);
  --color-slate-300: hsl(203, 41%, 72%);
  --color-slate-100: hsl(202, 86%, 94%);
  --color-red-500: hsl(4, 69%, 50%);
}
